body {
    font-family: "Oswald", serif;
}
.pacifico {
    font-family: "Pacifico", cursive;
}

h2, h1 {
    font-family: "Righteous", sans-serif;
    font-weight: bold;
}

img {
    z-index: 1;
}

.nav-pill {
    color: orangered;
}