
body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
    font-size: 3em;
}


.alert-info a {
    border: solid 2px lightgray;
    text-align: center;
    padding: 1em 0;
    background-color: #CCFFFF;
    font-weight: bold;
}

.alert-info a{
    line-height: 46px;
}

.nav-links {
    list-style: none;
    text-align: center;
    display: block;
    padding: 0;
    font-weight: 700;
    margin-left: 1em;

}


.sub-section {
    font-style: italic;
    font-weight: 700;
    width: 339px;
    display: block;
}

img {
    display: block;
    width: auto;
}

li {
    background-color: #CCC;
    padding: 1em 0;
    text-decoration: underline;
    color: #0000FF;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    display:flex;
    margin: auto;
}
#social-media-links>img {
    width: 50px;
    height: 50px;
}

/* Medium devices (desktops, 934px and up) */
@media screen and (min-width: 934px) {
    .hidden-on-desktop {
        display: none;
    }
    .column-one-half{
        width: 50%;
        margin: auto;
        background-color: lightgray;
        float: left;

    }
    .column-one-third{
        width: 33%;
        margin: auto;
        background-color: lightgray;
        float: left;
    }

    .column-one-fourth{
        width: 25%;
        margin: auto;
        background-color: lightgray;
        float: left; g
    }

    .column-one-sixth{
        width: 12%;
        margin: auto;
        background-color: lightgray;
        float: left;
    }

    .column-one-eighth{
        width: 4%;
        margin: auto;
        background-color: lightgray;
        float: left;
    }

