body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;

    --bg-info:#CCDCFF;
    --bg-success:#C5F7DA;
    --bg-warning:#FAFEC7;
    --bg-error:#FFCFD6;
}


.message{
      width: 100%;
      height: auto;
      margin: 10px;
      padding:10px;
      border-radius: 5px;
}

.message-info{
    background-color: var(--bg-info);
}
.message-success{
    background-color: var(--bg-success);
}
.message-warning{
    background-color: var(--bg-warning);
}
.message-error{
    background-color: var(--bg-error);
}