:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}

* {
    box-sizing: border-box;
}

body, html {
    background-color: var(--main-bg);
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

header {
    background-image: url("https://loremflickr.com/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}

a {
    color: var(--link-color);
}

.top-nav {
    background: var(--light-bg);
    position: fixed;
    width: 100%;
    z-index: 1;

}

.nav {
    list-style-type: none;
    margin: 0;
    display: inline-block;
}

.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;


}

.nav-link:hover {
    color: var(--link-color);
}

.nav-item {
    padding: 1.5em;
    display: inline-block;
}

.profile {
    background: var(--light-bg);
    height: 100%;
    float: left;
    width: 25%;

}

.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    float: right;
}

.btn-large {
    font-size: 1.3em;
    padding: 10px;
    float: right;
}

.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}

.text-right {
    float: right;
}

.text-muted {
    color: var(--main-link-color);
}

.profile-image {
    position: absolute;
    margin-left: .5em;
    margin-right: .5em;
    top: 235px;
}

.timeline {
    margin-left: .5em;
    margin-right: .5em;
    width: calc(50% - 1em);
    float: none;
}

.who-to-follow {
    margin-left: .5em;
    margin-right: .5em;
    width: calc(25% - 1em);
    float: right;
}

#container {
    margin-top: 2em;
    float: right;
}

.profile-form {
    line-height: 80px;
}

.media {
    width: 100%;
    background-color: var(--light-bg);
    border: 1px solid var(--separator-color);
    padding: 1em;
    float: right;
    overflow: auto;
}

.media-image{
    width: 50px;
    float: left;
    margin: 1.33em 0 0 0;
}

.media-body{
    float: left;
    width: calc(100% - 50px;
}

.profile-items{
    list-style: none;
}

.profile-entry{
    margin:.5em;
}